@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --dark: rgb(28, 66, 136);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: cornflowerblue;
}

.container {
  width: 900px;
  position: absolute;
  background-color: aliceblue;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgb(23, 63, 99, 0.5);
}

.serch_box {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

#serch_box__word {
  border: none;
  background-color: aliceblue;
  font-size: 20px;
  font-weight: 500;
  width: 70%;
  padding: 5px;
  border-bottom: 1.5px solid #6494ed75;
}

.serch_box__button {
  background-color: cornflowerblue;
  padding: 20px 45px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: aliceblue;
}

.result {
  position: relative;
}

.result h3 {
  font-size: 30px;
  color: var(--dark);
}

.result__word {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.fas {
  padding: 10px;
  font-size: 30px;
  border: none;
  background-color: aliceblue;
  color: cornflowerblue;
}

.result button {
  border: none;
}

.details {
  display: flex;
  gap: 10px;
  color: rgb(148, 146, 146);
  font-size: 20px;
  margin: 5px 0 20px 0;
}

.word-meaning {
  color: #575a7b;
}

.word-meaning span {
  color: #575a7b;
  font-style: italic;
  font-size: 16px;
  padding-right: 10px;
}

.word-description {
  color: #575a7b;
  margin-top: 30px;
  padding-left: 30px;
  border-left: 3px solid cornflowerblue;
  font-style: italic;
}

.word-description span {
  color: #575a7b;
  font-style: italic;
  font-size: 16px;
  padding-right: 10px;
}
